<div id="contact">
    <div class="content">
        <img src="../../../assets/contact/contact.png" alt="Contact">
        <div class="contact_inside">
            <a>E-mail:</a> gloriavictis.contact@gmail.com <br/>
            <a>Phone:</a> +48 511 783 296 <br/>
        </div>
    </div>
    <div class="content">
        <div class="icons">
            <div class="fab fa-facebook-square icon"></div>
            <div class="fab fa-instagram icon"></div>
            <div class="fab fa-twitter-square icon"></div>
        </div>
        <div class="logo"><img src="../../../assets/home/logo_gora.png" alt="logo"></div>

    </div>
</div>