<link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
<div class="container">
    <div class="menu" (click)="expandList()">menu</div>
    <nav class="navigation" [class.activated]="isMenuClicked" [class.disactivated]="!isMenuClicked">
        <ul> 
            <span class="navigation__item-name--1"></span>
            <li><a>home</a>
            </li>
            <li><a>team</a>
            </li>
            <li><a>scores</a>
            </li>
            <li><a>shop</a>
            </li>
            <li><a>contact</a></li>
            <span class="navigation__item-name--2"></span>            
        </ul>
    </nav>
</div>