@import "../../../scss/mixins";
@import "../../../scss/variables";
* {
    @include commonPageStylizer;
    @include textDecoration;
}

.navigation {
    margin-left: 3vw;
}

.menu {
    display: flex;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vw;
    color: white;
    cursor: pointer;
    font-size: 35px;
    border-top: 0.3vw solid white;
    justify-content: center;
    border-radius: 2px;
}

.hamburger {
    width: 35px;
    border: 0;
    border-top: 3px solid #e5002a;
    background: transparent;
    position: relative;
    top: 12px;
    right: 20px;
    transition: .3s transform linear;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #e5002a;
        transform: translateY(10px);
    }
    &::after {
        transform: translateY(23px);
        transition: .3s transform linear;
    }
}

.hamburgerAnimation {
    transform: rotate(45deg) translateY(-3px);
    border: none;
    &::after {
        transform: rotate(-90deg) translateX(-10px);
        border-top: 5px solid rgb(65, 211, 65);
    }
    &::before {
        border-top: 5px solid rgb(65, 211, 65);
    }
}

.activated {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disactivated {
    display: none;
    @include wrapperW(700px) {
        display: block;
    }
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100vw;
}

li {
    width: 35%;
    min-width: 140px;
    &:not(:last-child) {
        margin-bottom: 1%;
    }
}

a {
    text-transform: uppercase;
    background-color: #e5002a;
    display: flex;
    align-items: center;
    justify-content: left;
    letter-spacing: 5px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    text-align: left;
    animation: onLoadAnimation .3s ease-in-out;
    transition: all .3s linear;
    font-size: 70%;
    mat-icon {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
    &:hover {
        background-color: rgba(#e5002a, 0.8);
    }
}


/* Keyframes */

@keyframes onLoadAnimation {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Media screen */

@include wrapperW(700px) {
    .navigation {
        margin: 0;
        display: block;
    }
    .menu {
        display: none;
    }
    ul {
        flex-direction: row;
    }
    li {
        width: 20%;
        height: 50px;
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
    a {
        font-size: 75%;
        justify-content: center;
        animation: none;
        border-radius: 0;
    }
}

@include wrapperW(1300px) {
    .navigation {
        z-index: 1;
        position: fixed;
        top: 50px;
        right: 50px;
    }
    ul {
        width: 1000px;
    }
    a {
        font-size: 1rem;
    }
}