@import "../../../scss/mixins";
@import "../../../scss/variables";
$top: -15%;
$bottom: -15%;
$left: -3%;
$right: -3%;
* {
    padding: 0;
    margin: 0;
}

.container {
    @include textDecoration;
    @include wrapper(1050px) {
        float: left;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.7vw;
    color: complement($color: $redColor);
    cursor: pointer;
    font-size: -webkit-calc(2.5vh + 1vw);
    border-top: 5px solid white;
    border-radius: 2px;
    @include wrapper(1050px) {
        display: none;
    }
}

.activated {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disactivated {
    display: none;
}

nav {
    display: none;
    margin-left: 3vw;
    @include wrapper(1050px) {
        display: block;
        width: 40vw;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    @include wrapper(1050px) {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 2px;
    }
}

li {
    margin: 5px;
    width: 20%;
    @include wrapper(1050px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        text-align: center;
        border: none;
        border-radius: 0;
        width: 100%;
    }
}

a {
    transform: translate(5vw);
    font-family: 'Poppins', sans-serif;
    font-size: -webkit-calc(2vh + 1vw);
    text-decoration: none;
    color: $textColor;
    display: block;
    padding: 1vh;
    text-align: left;
    animation: loaderNav .8s ease-in-out;
    opacity: 1;
    @include wrapper(1050px) {
        display: flex;
        font-size: 0.8vw;
        animation: none;
        transform: none;
        padding: 0;
        opacity: 1;
        &:hover {
            color: complement($redColor);
        }
    }
    &:before {
        animation: loaderLine 1s ease-in-out;
        top: -0.20vh;
        padding: 0;
        content: '';
        position: absolute;
        display: block;
        overflow: hidden;
        width: 0.5vw;
        height: 100%;
        background-color: $redColor;
        transform: translate(-3vw);
        @include wrapper(1050px) {
            display: none;
        }
    }
}

@keyframes loaderNav {
    0% {
        transform: translate(-3vw);
        opacity: 0;
    }
    100% {
        transform: translate(5vw);
        opacity: 1;
    }
}

@keyframes loaderLine {
    0% {
        opacity: 0;
        transform: translate(7vw);
    }
    80% {
        opacity: 1;
        transform: translate(-3vw);
    }
    100% {
        opacity: 1;
        transform: translate(-3vw);
    }
}