<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<div class="container">
    <nav>
        <span></span>
        <ul>
            <li><a routerLink='home'>home<span></span><span></span></a>
            </li>
            <li><a routerLink=''>team<span></span><span></span></a>
            </li>
            <li><a routerLink=''>scores<span></span><span></span></a>
            </li>
            <li><a routerLink=''>shop<span></span><span></span></a>
            </li>
            <li><a routerLink=''>contact<span></span><span></span></a></li>
        </ul>
        <span></span>
    </nav>
</div>