@import "../../scss/mixins";
@import "../../scss/variables";
* {
    @include commonPageStylizer;
}

#team {
    width: 100vw;
    height: 100vh;
    background: url("/../assets/team/background/background.png") no-repeat;
    background-size: 400% 100%;
    background-position-x: 10%;
    @include wrapper(1050px) {
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }
}

.content {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    &:first-child {
        @include wrapper(1050px) {
            height: 100%;
            width: 45%;
        }
    }
    &:last-child {
        height: 60%;
        @include wrapper(1050px) {
            height: 100%;
            width: 55%;
        }
    }
}

.header {
    @include textDecoration;
    margin-top: 20%;
    color: $redColor;
    font-size: -webkit-calc(2vw + 2vh);
    letter-spacing: 10px;
    width: 85%;
    height: 30%;
    display: flex;
    margin-left: 10%;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
    @include wrapper(1050px) {
        font-size: -webkit-calc(3vw + 2vh);
        margin-left: 0;
        letter-spacing: 3rem;
        align-self: flex-end;
    }
    @include wrapper(1600px) {
        margin-top: 0;
    }
}

.description {
    font-size: -webkit-calc(0.5vw + 1vh);
    line-height: -webkit-calc(0.5vw + 2vh);
    width: 85%;
    display: flex;
    color: $textColor;
    letter-spacing: 0.2rem;
    margin-left: 10%;
    @include textDecoration;
    @include wrapper(1050px) {
        margin-left: 0;
        line-height: 3rem;
        height: 40%;
        align-self: flex-end;
    }
}

.nickname {
    display: flex;
    justify-content: center;
    color: $textColor;
    font-size: -webkit-calc(2vw + 2vh);
    @include textDecoration;
    letter-spacing: 0.3rem;
    align-items: flex-end;
    @include wrapper(1050px) {
        font-size: 3rem;
        padding-top: 15%;
        padding-bottom: 5%;
        letter-spacing: 0.7rem;
    }
    span {
        color: $complementColor;
    }
}

.container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include wrapper(1050px) {
        height: 40%;
    }
    .player {
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        img {
            width: 150%;
            height: 120%;
            transition: .6s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        &:hover {
            transition: 1s;
            box-shadow: 0 0 50px 1px $redColor;
        }
        @include wrapper(400px) {
            width: 100px;
            height: 100px;
        }
        @include wrapper(550px) {
            width: 150px;
            height: 150px;
        }
        @include wrapper(800px) {
            width: 175px;
            height: 175px;
        }
    }
}

.topPlayers {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottomPlayers {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.topPlayer {
    &:not(:first-child) {
        margin-left: 7%;
    }
}

.bottomPlayer {
    margin-top: 2%;
    &:not(:first-child) {
        margin-left: 7%;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    @include wrapper(750px) {
        padding-right: 10%;
        padding-left: 10%;
        margin: 0;
    }
}

.button {
    @include textDecoration;
    letter-spacing: 0.7vw;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-size: 50%;
    @include wrapper(750px) {
        letter-spacing: 0.3vw;
        font-size: 20px;
        height: 50px;
    }
}