@import "../../scss/mixins";
@import "../../scss/variables";
.container {
    width: 100vw;
    height: 40vw;
    background: url("/assets/team/background.png");
    background-size: 100vw;
    overflow: hidden;
}