<div id="team">
    <div class="content--1">
        <div class="description"><span>„{{currentNickname}}”</span><br/>{{currentDescription}}</div>
    </div>
    <div class="content--2">
        <ul class="players" (mouseleave)="setDefault()">
            <li class="player_frame" *ngFor="let tempPlayer of currentPlayers" (mouseenter)="div(tempPlayer.nickname, tempPlayer.description)">
                <div class="player" [ngStyle]="{'background-image': 'url('+ tempPlayer.picture +')'}">
                    <a class="social-media">
                        <div class="fab fa-facebook icon"></div>
                    </a>
                </div>
            </li>
        </ul>
        <div class="buttonsContainer">
            <button mat-flat-button (click)="onCsgoButtonClick()" class="button"><div id="text">&nbsp;&nbsp;&nbsp;Counter Strike&nbsp;&nbsp;&nbsp;</div></button>
            <button mat-flat-button (click)="onLolButtonClick()" class="button"><div id="text">&nbsp;League of Legends</div></button>
        </div>
    </div>
</div>