@import "../../../scss/mixins";
@import "../../../scss/variables";
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    ul {
        margin-top: 2vh;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    li {
        width: 150px;
        height: 30px;
        &:last-child {
            width: 148px;
            height: 28px;
        }
    }
    .button {
        text-transform: uppercase;
        background-color: #6300e5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        letter-spacing: 5px;
        color: white;
        cursor: pointer;
        transition: all .3s linear;
        mat-icon {
            color: white;
            font-size: 1.5rem;
        }
        &:hover {
            background-color: rgba(#6300e5, 0.8);
        }
    }
    .social-media {
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid #e5002a;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        color: white;
        transition: all .3s linear;
    }
    .icon {
        cursor: pointer;
        transition: all .1s linear;
        &:hover {
            &:first-child {
                color: rgb(79, 119, 206);
            }
            &:nth-child(2) {
                color: #e5002a;
            }
            &:last-child {
                color: #00acee;
            }
        }
        cursor: pointer;
    }
    /* Media screen */
    @include wrapperW(600px) {
        .icon {
            font-size: 1.5rem;
        }
        .button {
            font-size: 75%;
        }
        li {
            width: 250px;
            height: 50px;
            &:last-child {
                width: 248px;
                height: 48px;
            }
        }
    }
    @include wrapperW(700px) {
        .social-media {
            border: 1px solid #6300e5;
        }
    }
    @include wrapperW(750px) {
        li {
            width: 300px;
            height: 50px;
            &:last-child {
                width: 298px;
                height: 48px;
            }
        }
    }
    @include wrapperW(1300px) {
        ul {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 25px;
            grid-row-gap: 0;
        }
        .icon {
            font-size: 2rem;
        }
        li {
            width: 320px;
            height: 65px;
            &:last-child {
                width: 318px;
                height: 63px;
            }
        }
        .button {
            font-size: 1rem;
        }
    }
    @include wrapperW(1500px) {
        ul {
            grid-column-gap: 90px;
        }
    }
    @include wrapperW(1800px) {
        ul {
            grid-column-gap: 120px;
        }
    }
}