<div class="container">
    <ul>
        <li>
            <a mat-flat-button class="button">
                <mat-icon>event</mat-icon>
                schedule
            </a>
        </li>
        <li>
            <a mat-flat-button class="button">
                <mat-icon>new_releases</mat-icon>
                news
            </a>
        </li>
        <li>
            <a mat-flat-button class="button">
                <mat-icon>poll</mat-icon>
                results
            </a>
        </li>
        <li>
            <a class="social-media">
                <div class="fab fa-facebook icon"></div>
                <div class="fab fa-instagram icon"></div>
                <div class="fab fa-twitter icon"></div>
            </a>
        </li>
    </ul>
</div>