@import "../../../scss/variables";
@import "../../../scss/mixins";
#socialmediaContainer {
    display: none;
    @include wrapper(1300px) {
        width: 20vw;
        display: flex;
        justify-content: center;
    }
}

.icons {
    display: flex;
    margin-left: 5%;
    div {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e5002a;
    color: white;
    &:hover {
        &:first-child {
            background-color: rgb(60, 90, 153);
        }
        &:nth-child(2) {
            background-color: rgb(131, 58, 180);
        }
        &:last-child {
            background-color: #00acee;
        }
    }
    @include wrapper(1050px) {
        width: 60px;
        font-size: 220%;
        height: 60px;
    }
}

.buttons {
    width: 25%;
}

.button {
    letter-spacing: 0.7vw;
    background-color: #6300e5;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Darker Grotesque', sans-serif;
    @include wrapper(750px) {
        margin-right: 5%;
        letter-spacing: 0.3vw;
        font-size: 120%;
        height: 100%;
    }
    &:last-child {
        background-color: rgb(219, 147, 12);
    }
}