<div id="shop">
    <div class="content">
        <img src="../../../assets/shop/background/ramka.png" alt="koszulki">
    </div>
    <div class="content">
        <div class="description_frame"><span>jersey gloria victis</span>
            <div class="description">Gloria Victis outfit provide you the highest standard, nice to touch materials. You can order it with your willing nickname which will be placed on the rear site of jersey. We also mark, by buying our shirts you contribute to our development
                spread. Thank you!
            </div>
            <div class="buttonsContainer">
                <button mat-flat-button class="button"><div id="text">&nbsp;buy</div></button>
            </div>
        </div>
    </div>
    <div class="content">
        <img src="../../../assets/shop/background/ramka.png" alt="koszulki">
    </div>
</div>