<div id="shop">
    <div class="content">
        <img src="./assets/shop/background/ramka.png" alt="koszulki">
    </div>
    <div class="content">
        <div class="description"><span>jersey gloria victis</span>
            <div id="desc">dolor sit amet consectetur adipisicing elit. Earum possimus perferendis excepturi adipisci architecto harum ducimus doloremque exercitationem, voluptas voluptatem doloribus, ratione quia qui dolorem suscipit numquam praesentium delectus. Voluptates
                a eum suscipit debitis quas ex tempora aperiam? Explicabo inventore ut illo adipisci voluptate mollitia officiis, nemo possimus ex at.
            </div>
            <div class="buttonsContainer">
                <button mat-flat-button class="button"><div id="text">&nbsp;buy</div></button>
            </div>
        </div>
    </div>
    <div class="content">
        <img src="./assets/shop/background/ramka.png" alt="koszulki">
    </div>
</div>