@import "../../scss/mixins";
@import "../../scss/variables";
* {
    @include commonPageStylizer;
}

#shop {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: #04070d;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    @include wrapperW(1050px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.content {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include wrapperW(1050px) {
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        @include wrapperW(1050px) {
            width: 700px;
            height: 700px;
        }
        @include wrapperW(1500px) {
            width: 1000px;
            height: 1000px;
        }
    }
    &:first-child {
        display: none;
        @include wrapperW(1050px) {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
        }
    }
    &:nth-child(2) {
        width: 100%;
        @include wrapperW(1050px) {
            width: 50%;
        }
    }
    &:last-child {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        img {
            width: 350px;
            height: 350px;
        }
        @include wrapperW(700px) {
            img {
                width: 520px;
                height: 520px;
            }
        }
        @include wrapperW(900px) {
            img {
                width: 700px;
                height: 700px;
            }
        }
        @include wrapperW(1050px) {
            display: none;
        }
    }
}

.description {
    @include textDecoration;
    width: 100%;
    height: 100%;
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    padding-top: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    @include wrapperW(1050px) {
        width: auto;
        justify-content: center;
        align-items: center;
        text-align: right;
        margin-top: 25%;
    }
    span {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        width: 100%;
        color: $redColor;
        font-size: 115%;
        letter-spacing: 0.9vw;
        padding-bottom: 3vw;
        @include wrapperW(900px) {
            font-size: 25px;
        }
        @include wrapperW(1050px) {
            font-size: -webkit-calc(2.1vw);
            text-align: right;
            margin-right: 5%;
        }
    }
    #desc {
        width: 100%;
        font-size: 8px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        @include wrapperW(700px) {
            font-size: 10px;
            letter-spacing: 2px;
            line-height: 30px;
        }
        @include wrapperW(900px) {
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 30px;
        }
        @include wrapperW(1000px) {
            letter-spacing: 3px;
            line-height: 30px;
        }
        @include wrapperW(1050px) {
            font-size: -webkit-calc(0.7vw);
            line-height: 2.5vw;
            margin-right: 10%;
            text-align: right;
            padding-left: 10%;
            padding-bottom: 10%;
        }
    }
}

.buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    @include wrapperW(1050px) {
        justify-content: center;
        margin: 0;
    }
}

.button {
    @include textDecoration;
    width: 30vw;
    background-color: #e5002a;
    letter-spacing: 0.7vw;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Darker Grotesque', sans-serif;
    max-width: 300px;
    font-size: 75%;
    outline: none;
    border: 0;
    @include wrapperW(800px) {
        letter-spacing: 0.3vw;
        font-size: 100%;
        height: 50px;
    }
    @include wrapperW(1050px) {
        margin: 0;
        letter-spacing: 0.3vw;
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
}