@import "./variables";
@mixin wrapper($arg...) {
    @media screen and (min-width: nth($list: $arg, $n: 1)) {
        @content;
    }
}

@mixin commonDivStylizer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::after, ::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    
}

@mixin textDecoration {
    color: $textColor;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}