@import "../../scss/mixins";
@import "../../scss/variables";
#container {
    width: 100vw;
    height: 100vh;
    background: url("/assets/home/background.png") no-repeat center center;
    background-size: 250% 100%;
    background-position-x: -100vw;
    @include wrapper(1050px) {
        background-position-x: 0;
        background-size: 100vw;
        height: 50vw;
    }
}

.logo {
    width: 100vw;
    height: 150px;
    background: url("../../../assets/home/logo_gora.png") no-repeat center center;
    background-size: 130px 130px;
    @include wrapper(400px) {
        background-size: 200px 200px;
        height: 200px;
    }
    @include wrapper(1050px) {
        margin: 2vw;
        float: left;
        background-size: 85% 100%;
        width: 15vw;
        height: 13vw;
    }
    &:hover {
        cursor: pointer;
    }
}