@import "../../scss/mixins";
@import "../../scss/variables";
#home {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: url("../../../assets/home/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    display: flex;
    align-items: center;
    flex-flow: row column;
    flex-direction: column;
}

.logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    img {
        width: 100px;
        height: 100px;
        &:hover {
            cursor: pointer;
        }
    }
}


/* Media screen */

@include wrapperW(700px) {
    .content {
        height: 80vh;
        justify-content: space-evenly;
    }
    .logo img {
        width: 150px;
        height: 150px;
    }
}

@include wrapperW(1200px) {
    .logo {
        justify-content: flex-start;
        margin-left: 2%;
        img {
            width: 200px;
            height: 200px;
        }
    }
}