<div id="trophies">
    <div class="content--1">
        <div class="medal">
            <img src="./assets/trophies/medal1.png" alt="medal">
            <ul>
                <li *ngFor="let place of firstPlace">
                    {{place}}
                </li>
            </ul>
        </div>
        <div class="medal">
            <img src="./assets/trophies/medal2.png" alt="medal">
            <ul>
                <li *ngFor="let place of secondPlace">
                    {{place}}
                </li>
            </ul>
        </div>
        <div class="medal">
            <img src="./assets/trophies/medal3.png" alt="medal">
            <ul>
                <li *ngFor="let place of thirdPlace">
                    {{place}}
                </li>
            </ul>
        </div>
    </div>
    <div class="content--2">
        <img src="./assets/trophies/background.png" alt="tropies">
    </div>
</div>