@import "../../scss/mixins";
@import "../../scss/variables";
* {
    @include commonPageStylizer;
}

#trophies {
    width: 100vw;
    height: 100vh;
    background-color: rgba(grey, 0.6);
    max-width: none;
    position: relative;
}