@import "../../../scss/mixins";
@import "../../../scss/variables";
.container {
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    max-width: none;
    margin-top: 50px;
}

li {
    border-bottom: solid 1px red;
    box-shadow: 5px 5px 30px 0 rgba(white, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    @include textDecoration;
    color: #33c26c;
}


/* Media screen */


/* phones */

@media screen and (min-width: 0px) and (max-width: 700px) {
    li {
        height: 100px;
        width: 300px;
        background-position-x: -138px;
    }
    .square1,
    .square2 {
        display: flex;
    }
    @media screen and (min-height: 735px) {
        .square3 {
            display: flex;
        }
    }
}


/* tablets */

@media screen and (min-width: 600px) {
    li {
        background-position-x: 0px;
        background-position-x: 50px;
        width: 1000px;
        height: 100px;
    }
    .date {
        display: none;
    }
    .button {
        margin-bottom: 5%;
        font-size: 75%;
        height: 15%;
    }
    @media screen and (min-height: 750px) {
        .square3,
        .square4 {
            display: flex;
        }
    }
    @media screen and (min-height: 1050px) {
        .container {
            grid-column-gap: 50px;
            grid-row-gap: 50px;
        }
    }
    @media screen and (min-width: 900px) {
        li {
            background-position-x: 0px;
        }
    }
}


/* PC */

@media screen and (min-width: 1200px) {
    li {
        background-position-x: 0px;
    }
}