@import "../../../scss/mixins";
@import "../../../scss/variables";
.container {
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: none;
}

li {
    border-bottom: solid 1px red;
    box-shadow: 5px 5px 30px 0 rgba(white, 0.1);
    align-self: center;
    width: 73vw;
    height: 36vw;
    max-width: 327px;
    max-height: 161px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all .2s ease-in;
}

.button {
    margin-bottom: 3%;
    font-size: 50%;
    height: 20%;
    width: 30%;
    background-color: #e5002a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    letter-spacing: 3px;
    color: white;
    font-family: 'Catamaran', sans-serif;
    cursor: pointer;
    transition: background-color .3s linear;
    text-decoration: none;
    &:hover {
        background-color: rgba(#e5002a, 0.8);
    }
}

.content {
    height: 100%;
    width: 100%;
    border: solid 1px red;
}

.news {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}


/* Media screen */


/* phones */

@media screen and (min-width: 0px) {
    .square1,
    .square2 {
        display: flex;
    }
    @media screen and (min-height: 780px) and (max-width: 700px) {
        .square3 {
            display: flex;
        }
    }
}


/* tablets */

@media screen and (min-width: 700px) {
    .button {
        margin-bottom: 5%;
        font-size: 75%;
        height: 15%;
    }
    .container {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-height: 818px) {
        .square3,
        .square4 {
            display: flex;
        }
    }
    @media screen and (min-height: 1050px) {
        .container {
            grid-column-gap: 50px;
            grid-row-gap: 50px;
        }
        .square5,
        .square6 {
            display: flex;
        }
    }
    @media screen and (max-width: 1300px) {
        .container {
            margin-top: 50px;
        }
        li {
            max-width: none;
            max-height: none;
            width: 350px;
            height: 200px;
        }
    }
}


/* PC */

@media screen and (min-width: 1200px) {
    .container {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
    }
    li {
        max-width: none;
        max-height: none;
        width: 375px;
        height: 200px;
    }
    .square5 {
        display: flex;
    }
    @media screen and (min-height: 750px) {
        .square6 {
            display: flex;
        }
    }
    @media screen and (min-height: 1400px) {
        li {
            max-width: none;
            max-height: none;
            width: 420px;
            height: 220px;
        }
    }
}