@import "../../../scss/variables";
@import "../../../scss/mixins";

* {
    @include commonPageStylizer;
}

.container {
    display: none;
    @include wrapper(850px) {
        width: 100vw;
        height: 15vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
   @include wrapper(1050px) {
        margin-top: 1%;
        flex-direction: row;
   }
}

span {
    @include wrapper(1050px) {
        font-family: 'Darker Grotesque', sans-serif;
        width: 15%;
        margin-top: 1%;
        align-self: flex-start;
        text-align: center;
        color: #fff;
        font-size: 150%;
        font-weight: bold;
        letter-spacing: 5px;
        cursor: default;
    }
}
.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    @include wrapper(1050px) {
        margin: 0;
        width: 85%;
        justify-content: left;
    }
}

.sponsor {
    width: 200px;
    height: 120px;
    background-size: 50% 100%;
    display: flex;
    margin-right: 5%;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
    }
    
}

