@import "../../../scss/mixins";
@import "../../../scss/variables";

* {
    @include textDecoration;
    @include commonDivStylizer;
}

.container {
    cursor: default;
    width: 100vw;
    height: 15vw;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 1vw;
        font-size: -webkit-calc(3vh + 1vw);
        span {
            color: $redColor;
        }
        animation: moveInRight 1s ease-out;
    }
    #bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 0.5vw;
        color: $complementColor;
        font-size: -webkit-calc(0.5vw + 1vh);
        animation: moveInLeft 1s ease-out;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-4vw);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(4vw);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}