@import "../../../scss/mixins";
@import "../../../scss/variables";

* {
    @include textDecoration;
    @include commonPageStylizer;
}

#welcomeanimationContainer {
    cursor: default;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @include wrapper(1050px) {
        width: 75vw;
        height: 20vh;
        float: left;
    }
    #top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 1vw;
        font-size: -webkit-calc(1vh + 5vw);
        span {
            color: $redColor;
        }
        animation: moveInRight 1s ease-out;
        @include wrapper(1050px) {
            font-size: -webkit-calc(1vh + 3vw);
        }
    }
    #bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 0.5vw;
        color: $complementColor;
        font-size: -webkit-calc(2.5vw + 0.5vh);
        animation: moveInLeft 1s ease-out;
        @include wrapper(1050px) {
            font-size: -webkit-calc(1vh + 1vw);
        }
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-4vw);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(4vw);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}