@import "../../../scss/mixins";
@import "../../../scss/variables";
* {
    @include commonPageStylizer;
}

#newsContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    @include wrapper(750px) {
        width: 100vw;
        height: 60vh;
    }
    @include wrapper(1050px) {
        display: block;
        height: 20vw;
        float: left;
    }
}

.content {
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @include wrapper(750px) {
        width: 50%;
        height: 100%;
    }
    @include wrapper(1050px) {
        width: 100%;
        flex-direction: row;
    }
}

.squats {
    width: 100%;
    max-width: 322px;
    max-height: 170px;
    margin-top: 5%;
    border-bottom: solid 1px red;
    align-self: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: all .2s ease-in;
    &:hover {
        span {
            height: 100%;
        }
    }
    @include wrapper(750px) {
        max-width: none;
        max-height: none;
        height: 100%;
    }
    @include wrapper(1050px) {
        margin-top: 0;
        width: 30%;
        height: 80%;
        margin-right: 4%;
        &:first-child {
            margin-left: 2%;
        }
    }
}

.item--1 {
    background: url("../../../../assets/home/kotek.jpg") no-repeat;
    background-size: 100% 100%;
}

.item--2 {
    background: url("../../../../assets/home/piesek.jpg") no-repeat;
    background-size: 100% 100%;
}

.item--3 {
    background: url("../../../../assets/home/jez.jpg") no-repeat;
    background-size: 100% 100%;
}

span {
    background-color: rgba($color: black, $alpha: 0.8);
    width: 100%;
    height: 35%;
    font-size: -webkit-calc(1.5vw + 2vh);
    transition: all .2s ease-in;
    color: white;
    font-family: 'Catamaran', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}