<div id="news">
    <ul>
        <li class="phone_news--1">
            <span class="__item__1">we won the tournament</span>
        </li>
        <li class="phone_news--2">
            <span class="__item__2">a new team</span>
        </li>
        <li class="tablet_news--1">
            <span class="__item__3">recruitment starts</span>
        </li>
        <li class="tablet_news--2">
            <span class="__item__3">recruitment starts</span>
        </li>
        <li class="pc_news--1">
            <span class="__item__3">recruitment starts</span>
        </li>
        <li class="pc_news--2">
            <span class="__item__3">recruitment starts</span>
        </li>
    </ul>
</div>