@import "../../../scss/mixins";
@import "../../../scss/variables";
* {
    @include commonPageStylizer;
}

#newsContainer {
    display: block;
}

.activated {
    display: flex;
}

.disactivated {
    display: none;
    @include wrapper(1300px) {
        display: flex;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    flex-shrink: 2;
    width: 100vw;
}

li {
    margin-top: 5vh;
    box-shadow: 0px 0px 30px 0 #000000;
    align-self: center;
    width: 73vw;
    height: 36vw;
    max-width: 327px;
    max-height: 161px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: all .2s ease-in;
    &:nth-child(3) {
        display: none;
    }
    &:hover {
        span {
            height: 100%;
            border: solid 1px red;
        }
    }
}

.item--1 {
    background: url("../../../../assets/home/kotek.jpg") no-repeat;
    background-size: 100% 100%;
}

.item--2 {
    background: url("../../../../assets/home/piesek.jpg") no-repeat;
    background-size: 100% 100%;
}

.item--3 {
    background: url("../../../../assets/home/jez.jpg") no-repeat;
    background-size: 100% 100%;
}

span {
    background-color: rgba($color: black, $alpha: 0.8);
    width: 100%;
    height: 30%;
    text-transform: uppercase;
    border-bottom: solid 1px red;
    font-size: -webkit-calc(2vh);
    transition: all .2s ease-in;
    color: white;
    letter-spacing: 2px;
    display: flex;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}


/* Media screen */

@include wrapper(600px) {
    li {
        max-width: none;
        max-height: none;
        width: 300px;
        height: 150px;
    }
}

@include wrapper(750px) {
    li {
        width: 375px;
        height: 200px;
    }
}

@include wrapper(1000px) {
    li {
        width: 450px;
        height: 240px;
    }
}

@include wrapper(1300px) {
    li:nth-child(3) {
        display: flex;
    }
    ul {
        flex-flow: row wrap;
    }
    li {
        width: 480px;
        height: 260px;
    }
}

@include wrapper(1600px) {
    li {
        width: 520px;
        height: 285px;
    }
}

@include wrapper(1800px) {
    li {
        width: 550px;
    }
}